
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/* GRID */
.gridwrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
        "headergrid" 
        "navgrid" 
        "contentgrid"
        "asidegrid" 
        "gallerygrid"
        "footergrid";
}

/* GRID Header */
.grid-header {
    grid-area: headergrid;
}

.forsidebillede img{
    width: 100%;
}

.grid-nav{
    grid-area: navgrid;
    text-align: center;
}

/* GRID Content */
.grid-content {
    grid-area: contentgrid;
    margin: 0px;
}

/* Content - index.html */
.content img {
    float: left;
}

.content h2 {
    text-align: center;
    padding: 0 0 10px 0;
}

.content p {
    margin: 2px auto;
}

/* Content - kontakt.html */
.kontakt {
    background-color: #C0D7EF;
    padding: 75px 10px;
    margin: 
}

/* GRID Aside */
.grid-aside {
    grid-area: asidegrid;
}

.asidecontent h3 {
    padding: 0px 0 50px 0;
}

.asidecontent {
    text-align: center;
    padding: 75px 0px;
    background-color: #C0D7EF;
}

/* GRID Galleri */
.grid-gallery {
    grid-area: gallerygrid;
    float: left;
}

.grid-gallery img {
    width: 33%;
    margin: 5px 0px;
}

/* GRID Footer */
.grid-footer {
    grid-area: footergrid;
    padding: 8% 0px 0px 20px;
    position: relative;
    background-image: url(../images/waterwave.png);
    background-size: cover;
}

/* NAV */

nav {
    overflow: hidden;
}

nav a {
    display: inline-block;
    vertical-align: middle;
    color: #003758;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size 14px;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom: 3px solid red;
}

nav a:active {
    border-bottom: 3px solid red;
}

footer {
    overflow: hidden;
}

footer ul {
    list-style-type: none;
    text-align: left;
}

.payment img {
    display: inline-block;
    vertical-align: middle;
}